<input type="text" placeholder="Spielname">
<div>Spieler</div>
<ul>
    <li>Spieler 1</li>
    <li>Spieler 2</li>
    <li>Spieler 3</li>
    <li>...</li>
</ul>
<button data-action="add-user">
    Spieler hinzufügen
</button>