<!doctype html>

<html>

<head>

    <title>TI3 Gamebuddy 0.1</title>


    <link rel="stylesheet" href="style/css/main.css">
    <link rel="stylesheet" href="style/css/reset.css">
    <script src="/socket.io/socket.io.js"></script>
    <script data-main="script/app" src="script/lib/require.js"></script>


</head>

<body>
<header>

    <button data-action="index">
        Home
    </button>

</header>
<div class="content">
    <!-- render content comes here.... -->


</div>
<footer>

</footer>
</body>

</html>